
.main_menu_container {
    -fx-background-color: #262626;
    -fx-alignment: center;
    -fx-padding: 0 10 0 10;
}

.left_container {
    -fx-background-color: #2F2F2F;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(two-pass-box, #AAAAAA, 5, 0, 0, 2);
}
/* Title/Logo Section */
.title_container {
    -fx-background-color: #2F2F2F;
    -fx-background-radius: 20 20 0 0;
    -fx-alignment: top_center;
    -fx-padding: 10;
}

.title_container FontAwesomeIconView {
    -fx-fill: #gold;
}

.title_container Text {
    -fx-fill: gold;
    -fx-font-size: 2em;
    -fx-effect: dropshadow(three-pass-box, #000000, 5, 0, 0, 6);
}

#title {
    -fx-fill: #00fee5;
}

#logomarca {
    -fx-font-size: 1.1em;
}

/* Navigation Section */
.menu_container {
    -fx-padding: 10 10 10 10;
    -fx-spacing: 20;
}

.menu_container Button {
    -fx-pref-width: 115;
    -fx-pref-height: 40;
    -fx-background-color: transparent;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 1.1em;
    -fx-alignment: center-left;
    -fx-border-color: #00fee5;
    -fx-effect: dropshadow(three-pass-box, #000000, 5, 0, 0, 6);
}

.menu_container Button:hover {
    -fx-cursor: hand;
    -fx-border-color: #ff0766;
    -fx-text-fill: #00fee5;
    -fx-effect: dropshadow(three-pass-box, #ff0766, 2, 0, 0, 2);
    -fx-letter-spacing: 0.25em;
}

.menu_container Button FontAwesomeIconView {
    -fx-fill: #FFFFFF;
}

.alt_menu_btn {
    -fx-pref-width: 115;
    -fx-pref-height: 40;
    -fx-background-color: #555555;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 1.1em;
    -fx-alignment: center_left;
}

.alt_menu_btn FontAwesomeIconView {
    -fx-fill: #FFFFFF;
}


/*
 Descontinuado

 .report_container Button:hover {
    -fx-cursor: hand;
}*/
