
.dashboard {
    -fx-background-color:  #262626;
}

.user_name {
    -fx-font-size: 2.6em;
    -fx-font-family: "Calibri Light";
}

.date_lbl {
    -fx-text-fill: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, #FFFFFF, 3, 0, 0, 0);
    -fx-font-size: 1.3em;
    -fx-font-family: "Calibri Light";
}

.section_title {
    -fx-font-size: 2.5em;
    -fx-font-weight: 800;
    -fx-effect: dropshadow(three-pass-box, #ce1457, 5, 0, 0, 0);
    -fx-font-family: "Calibri Light";
}

/* Accounts View */

.account {
    -fx-background-radius: 5;
    -fx-effect: dropshadow(three-pass-box, grey, 4, 0, 0, 5);
}

.accounts_view {
    -fx-background-color: #FFFFFF;
    -fx-effect: dropshadow(two-pass-box, #ff0760, 4, 4, 0, 0);
    -fx-background-radius: 10 10 10 10;
    -fx-padding: 10 0 10 0;
    -fx-alignment: center;
    -fx-spacing: 10;
}

.account VBox {
    -fx-background-color: black;
}

.account Text {
    -fx-fill: #FFFFFF;
    -fx-font-family: "Calibri Light";
    -fx-font-size: 1.5em;
}

.account FontAwesomeIconView {
    -fx-fill: #white;
}

.account_gradient {
    -fx-background-color: linear-gradient(to right, #132A13, #253F25);
}

.account_balance {
    -fx-text-fill: #FFFFFF;
    -fx-font-family: Calibri;
    -fx-font-size: 3em;
    -fx-font-weight: bold;
}

.account_number {
    -fx-text-fill: #FFFFFF;
    -fx-font-family: Calibri;
    -fx-font-size: 1.5em;
    -fx-text-alignment: center;
}

/* Transactions View */

.transaction_listview {
    -fx-background-color: #4F4F4F;
    -fx-background-radius: 10 10 10 10;
    -fx-effect: dropshadow(two-pass-box, #ff0760, 4, 4, 0, 0);
}

.transaction_listview .scroll-bar:vertical {
    -fx-scale-x: 0;
}

/* Send Money View */
.new_trans_container {
    -fx-background-radius: 10 10 10 10;
    -fx-background-color:  #2F2F2F;
    -fx-padding: 15 10 20 10;
    -fx-spacing: 10;
    -fx-alignment: bottom_left;
    -fx-effect: dropshadow(two-pass-box, #ff0760, 4, 4, 0, 0);
}

.new_trans_container Label {
    -fx-font-family: "Calibri Light";
    -fx-font-size: 1.7em;
}

.new_trans_container TextField {
    -fx-text-fill: #00fee5;
    -fx-pref-height: 40;
    -fx-background-color:  #3F3F3F;
    -fx-border-color: gold;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-effect: dropshadow(three-pass-box, #000000, 3, 0, 0, 0);
}

.new_trans_container TextArea {
    -fx-background-color:  #3F3F3F;
    -fx-border-color: gold;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-effect: dropshadow(three-pass-box, #000000, 3, 0, 0, 0);
}

.new_trans_container Button {
    /*-fx-background-color: linear-gradient(to right, #132A13, #253F25);*/
    -fx-background-color:  transparent;
    -fx-pref-width: 230;
    -fx-font-size: 1.2em;
    -fx-font-family: "Calibri Light";
    -fx-text-fill: gold;
    -fx-border-color: gold;
}

.new_trans_container Button:hover {
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 2, 0, 0, 2);
}

.new_trans_container Button:hover {
    -fx-cursor: hand;
}


